body
{
    background-color: grey;
    color:#333;
    font-family: "arial";
    padding: 1mm;
    text-align: center;
}
.titulo
{
 color: brown;
 font-family: 'Courier New', Courier, monospace;
}

.final 
{
    font-style: normal;
    color:darkblue;
    box-shadow: darkblue;
}